.sharp.home{
    width: 4.5rem;
    height: 1.5rem
}

.home.card-header{
    justify-content: center;
    padding: 0.6rem 0;
}

.td-action>a{
    margin-left: 1.6rem;
}

.td-favorite{
    color: #fd5f62;
}
i:hover{
    cursor: pointer;
}