.heading {
    font-size: 0.86rem !important;
}

.card-header.portfolio {
    padding: 0.5rem 0 !important;
    justify-content: center;
    background: #ffffff;
}

.card-body {
    padding-top: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-bottom: 0.75rem !important;
}

.input-group.search-area {
    height: 2.5rem !important;
}

.messages .input-group.search-area input.form-control {
    height: 2.5rem !important;
}

.card-body.loadmore-content.recent-activity-wrapper.p-4 {
    padding-top: 0 !important;
    padding-bottom: 0.5rem !important;
}

.card-header.border-0.p-4.pb-0 {
    padding-top: 0.2rem !important;
}

input.form-control {
    padding-left: 1.5rem !important;
}

.d-flex.align-items-center.student {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    ;
}

.input-group.search-area.mb-3 {
    margin-bottom: 0 !important;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center.student {
    padding: 0.478rem !important;
}


.table thead tr th a {
    color: white;
}

.table thead tr th a:hover {
    color: gray
}

.table th,
.table td {
    padding: 0.45rem 1.125rem !important;
    min-height: 1.625rem !important;
}

.messageError {
    color: red;
    padding-top: 0.1rem;
    padding-bottom: 0.4rem;

}

/* .table tbody tr td strong {
    font-size: 1.06rem !important;
} */
.action-table {
    display: flex;
}

.loading {
    border: none !important;
}

.modal-portfolio>.modal-dialog {
    max-width: fit-content;
}

.portfolio {
    background: #e6ebee;
}

.modal-body.portfolio .row {
    min-width: 86rem;
}

.options-portfolio {
    padding-top: 0.5rem;
}

.options-portfolio .css-1nmdiq5-menu {
    z-index: 99 !important;
    /* width: 100%; */
}

.suggestion-system .btn {
    width: 100%;
}

.nav-portfolio {
    color: #747475 !important;
}

.nav-portfolio.active {
    color: #ffc338 !important;
    border-color: #bdc3c8 #bdc3c8 #E6EBEE !important;
    background-color: #000080 !important;
}

.input-container {
    position: relative;
    width: 300px;
}

#icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    pointer-events: none;
}

.input-field {
    padding-left: 30px;
    /* Để biểu tượng không che phủ lên nội dung nhập liệu */
    width: 100%;
}

.btn-portfolio {
    margin-top: 0.8rem;
}

.td-favorite {
    color: #fd5f62;
}

i:hover {
    cursor: pointer;
}

.portfolio.card-header>.input-container>.form-control {
    font-size: 0.8rem;
}

.card-body.portfolio-body>.table-responsive>.table>thead>tr>th {
    font-size: 0.8rem;
}

.portfolio-body.card-body>.table-responsive>.table>tbody>tr {
    height: 36px;
}

#stock-investment-portfolio-body {
    max-height: 545px;
    overflow: auto;
}
@media (min-height:900px) {
    #stock-investment-portfolio-body {
       max-height: 545px;
        overflow: auto;
    }
    #show-portfolio-body {
        /* min-height: 468px; */
        height: 750px;
        overflow: auto;
    }
}

@media (min-height:750px) and (max-height:899px){
    #stock-investment-portfolio-body {
        max-height: 402px;
        overflow: auto;
    }
    #show-portfolio-body {
        /* min-height: 468px; */
        height: 560px;
        overflow: auto;
    }
}
@media (max-height:749px){
    #stock-investment-portfolio-body {
        max-height: 265px;
        overflow: auto;
    }
    #show-portfolio-body {
        /* min-height: 468px; */
        height: 420px;
        overflow: auto;
    }
}

/* .tr-fixed{
    z-index: 99;
    position: fixed;
} */

#show-portfolio-modal-body {
    padding-bottom: 0;
}

/* .spinner-border {
    position: absolute;
    top: 18rem;
    left: 50%;
    z-index: 100;
} */

::-webkit-scrollbar {
    background-color: #f9e3af !important;
    border-radius: 5px;
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    background-color: #ffc338 !important;
}

/* .apexcharts-canvas{
    border: 1px solid black;
} */

.chart,
.chart-default {
    max-width: 202px;
}

.chart-default>div {
    border: 1px solid #03a2fd;
    max-width: 202px;
    min-height: 101px !important;
    cursor: pointer;
}

.chart-default:hover>div {
    box-shadow: 5px 5px 5px #03a2fd;
}

.chart-default.zoom {
    box-shadow: 5px 5px 5px #03a2fd;
}

.chart-zoom {
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 3px solid #03a2fd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.chart-title {
    min-height: 35px !important;
    background-color: #03a2fd;
    font-size: 20px;
    text-align: center;
}

.name-chart {
    font-weight: 650;
    color: #ffffff;
}

.close {
    text-align: center;
    font-size: 25px;
    padding: 0 15px;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
}

.close:hover {
    color: #676666;
}

/* .chart-body>div {
    min-height: 760px !important;
} */

.detail-chart {
    display: flex;
    justify-content: left;
}
.chart-body {
    background-color: #ffffff;
}
.chart-body_detail{
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border: 1px solid;
    color:   #353636;
    /* background-color: #ffffff; */
}
.chart-body_detail>div{
    width: 200px;
    /* background-color: #000080; */
}

.detail-chart_view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 94px;
    width: fit-content;
    margin-left: 14px;
    /* text-align: center; */
    border: 1px solid;
    border-radius: 5px;
    color: #353636;
}

.detail-chart_view>div {
    font-size: 15px;
    margin: 0 14px;
}

/* .chart:hover>.chart-zoom{
    display: block;
    border: 2px solid #03a2fd;
    max-height: 506px;
    z-index: 1000;
} */

.form-btn-portfolio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;

}