.swal-footer{
    text-align: center !important;
}

/* @media (min-height:900px) {
    #sign-up-form{
        height: 820px;
    }
}

@media (min-height:750px) and (max-height:899px){
    #sign-up-form{
        height: 630px;
    }
}

@media (max-height:749px){
    #sign-up-form{
        height: 500px;
    }
} */

#sign-up-form{
    height: fit-content;
}