.message-error{
    color: red;
}

.body-forgot-pass{
    min-height: 10rem;
}

.spinner-border-forgot{
    position: absolute;
    top: 9rem;
    left: 16rem;
    padding: 0!important;
    /* transform:translate(-50%,-50%); */
    z-index: 100;
}

.message-resend{
    margin: 8px 0;
}

.swal-footer{
    text-align: center !important;
}