.forum-title {
    padding-top: 15px;

}

.initial-avatar-forum {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    /* Colors */
    /* background-color: rgb(112, 48, 160); */
    background-color: #ffc338;
    color: #fff;
    /* Rounded border */
    border-radius: 10%;
    height: 3rem;
    width: 3rem;
}

.header-item {
    margin-left: 0;
    margin-top: 6px; 
    margin-right: 6px;
    margin-bottom: 6px;
}
.about-content.forum {
    margin-top: 0;
    font-size: 14px;
}